.bg-light {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #676161;
}

.bg-main {
  background-color: #fff42d;
}

.bg-dark {
  background-color: #676161;
}

.text-light {
  color: #ffffff;
}

.text-gray {
  color: #676161;
}

.text-main {
  color: #fff42d;
}

.text-dark {
  color: #676161;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #676161;
  padding-top: 60px;
  line-height: 1.7;
}

/* Particles */
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1;
}

.navbar {
  box-shadow: 0 1px 4px rgba(103, 97, 97, 0.1);
  transition: 0.2s;
}
.navbar.shrink {
  background-color: #ffffff;
}
.navbar.shrink .navbar-brand {
  color: #676161;
}
.navbar.shrink .navbar-toggler-icon {
  filter: invert(0);
}
.navbar.shrink .nav-link {
  color: #676161;
}
.navbar.shrink .nav-link .icon {
  color: #676161;
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    background-color: #fff42d;
  }
}
.navbar .nav-link {
  color: #ffffff;
}
.navbar .nav-link .icon {
  color: #fff42d;
}
.navbar .navbar-toggler-icon {
  filter: invert(1);
}
.navbar .navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
}
.navbar .navbar-brand .logo {
  background-color: #fff42d;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.75rem;
}
.navbar .nav-item:hover .nav-link {
  color: #fff42d;
  transition: 0.2s ease-in-out;
}

.banner {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner .container,
.banner .row {
  min-height: calc(100vh - 60px);
}
.banner h1 {
  line-height: 1;
  font-size: calc(2rem + 1vw);
}
.banner p {
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
}
.banner p::before {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
  width: 2rem;
  height: 2px;
  background-color: #fff42d;
  transform: translateX(-100%);
}
.banner .btn {
  border: 2px solid #fff42d;
  border-radius: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: #fff42d;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
}
.banner .btn > * {
  position: relative;
  z-index: 2;
}
.banner .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fff42d;
}
.banner .btn:hover {
  color: #ffffff;
}
.banner .btn:hover::before {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.banner .profile {
  position: relative;
}
.banner .profile img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: 576px;
}

.skill {
  padding: 5rem 0;
}
.skill h1 {
  position: relative;
  margin-bottom: 4rem;
}
.skill h1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 4px;
  background-color: #fff42d;
  transform: translateX(-100%) translateY(1rem);
}
.skill .card {
  background-color: #676161;
  border: 0;
  box-shadow: none;
  text-align: center;
  border-radius: 0;
  padding: 1.5rem 1rem;
  transition: 0.3s;
}
.skill .card:hover {
  transform: scale(1.05);
}
.skill .card img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.skill .card p {
  line-height: 1.5;
}
.skill .card .skill-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  transition: 0.3s;
}
.skill .card .skill-icon:hover {
  transform: scale(1.5);
}/*# sourceMappingURL=style.css.map */